

<div class="container">
  <div class="row">
    <div class="col-md-3 col-lg-2">
      <%= render 'layouts/sidebar_form', user: @user, book: @book %>
    </div>

    <div class="col-md-8 offset-md-1 col-lg-9 px-md-4">
      <h2>Users</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th></th>
          </tr>
      </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if user.profile_image.attached? %>
            <%= image_tag user.profile_image.variant(resize_to_fill: [50, 50]), class: "rounded-circle" %>
          <% else %>
            <%= image_tag "no_image.jpg", size: "50x50", class: "rounded-circle" %>
          <% end %>
          </td>
          <td><%= user.name %></td>
          <td><%= link_to "Show", user_path(user), class: "btn btn-primary" %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>